version: '3.4'
services:
  chat:
    build: .
    ports:
      - "9080:9080"
      - "8081:8081"
      - "8082:8082"
    volumes:
      - .:/code
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
  redis:
    image: "redis:7-alpine"
    ports:
      - 6379:6379
